body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(2,45,61);
}

.clearfix:after{
    content:'';
    display: table;
    width: 100%;
    clear: both;
}

ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
div, span, button, a, p, h1, h2, h3, h4, h5{
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.Header{
    background: url('../img/Top_Background.jpg') no-repeat center top fixed;
    color: rgb(255, 255, 255);
    height: 100vh;
}

.heading{
    display: block;
    padding: 10px 0;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.scroll{
    background-color: rgba(2,45,61, 0.95);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
}

.frame{
    margin-left: auto;
    margin-right: auto;
}
nav{
    padding: 9px 0;
    float: right;
}

.menu{
    margin: 0;
    display: block;
}

.menu li{
    float: left;
    display: block;
    margin-right: 40px;
}

.menu a{
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: all 0.4s ease-in-out;
    opacity: 1;
}

.scroll #scroll{
    opacity: 0.8;
}

.scroll #scroll:hover{
    opacity: 1;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s ease-in-out;
  }

.menu a:hover{
    color: rgb(255, 255, 255);
    opacity: 1;
}

.menu a:hover::after {
    width: 100%;
  }

.logo{
    width: 55px;
    height: 55px;
    float: left;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.logo:hover{
    transform: scale(1.08);
}

.Offer{
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    line-height: 67px;
    letter-spacing: 0.1em;
    padding-top: 285px;
    margin-bottom: 121.5px;
    margin-top: 0px;
}

.Offer span{
    font-weight: 300;
    font-size: 45px;
    display: block;
}

.CTA{
    display: block;
    border-radius: 0px;
    width: 446px;
    padding: 15px 0;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgb(2,45,61);
    text-decoration: none;
    margin: 0  auto;
    transition: all 0.4s ease-in-out;
    background: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
}

#Header .CTA{
    margin-bottom: 21.5%;
}

.CTA:hover{
    transform: scale(1.05);
}

h2{
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.08em;
    color: rgb(2,45,61);
    margin-top: 70px;
}

.List{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin-top: 126px;
    flex-wrap: wrap;
}

.List_item{
    width: 285px;
    text-align: center;
    margin: 0 20px;
}

.List_title{
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-top: 0px;
}

.Icon{
    margin-bottom: 38px;
}

.List_text{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    margin-top: 23px;
    margin-bottom: 70px;
}

.banner1{
    background: url('../img/banner1.jpg') no-repeat center fixed;
    height: 50vh;
}

.Team{
    width: 945px;
    height: 630px;
    margin: 96.8px auto 0;
    box-shadow: 0px 0px 60px  rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
    border-radius: 15px;
}

.Team:hover{
    transform: scale(1.05);    
}

.About_team{
    text-align: center;
}

.About_title{
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-top: 57px;
    margin-bottom: 45px;
}
.About_text{
    width: 952px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    margin: 0 auto;
    margin-bottom: 57px;
}

.banner2{
    background: url('../img/banner2.jpg') no-repeat center fixed;
    height: 50vh;
}

#Feedback{
    margin-top: 70px;
}

.List_feedback{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin-top: 126px;
    flex-wrap: wrap;
}

.List_item_feedback{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;
}

.List_item_photo img{
    display: block;
    width: 80%;
    margin-right: 0;
}

.List_item_text{
    margin: 0;
    text-align: left;
    padding: 0 5%;
}

.Feedback_text{
    margin-bottom: 20px;
}

.Author{
    text-align: right;
    font-size: 30px;
    margin: 0;
}

.Contact_us{
    height: 100%;
}

 #Contacts h2{
    color: rgb(255, 255, 255);
    margin: 0 auto 12% auto;
}


.Call_you{
    width: 50%;
    margin: 0 auto;
}

.Call_you h2{
    color: rgb(255, 255, 255);
    margin-bottom: 10%;
    margin-top: 0;
}

.Form{
    margin: 0 auto;
    width: 100%;
}

input{
    box-sizing: border-box;
    padding: 0.7% 0 0.7% 0.7%;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(134, 134, 134);
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.08em;
    opacity: 1;
    outline: 0;
    position: relative;
}

::placeholder{
    color: rgb(134, 134, 134);
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:after {
    content: "";
    height: 1px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    transition: 0.5s ease all;
}

.bar:after {
    right: 100%;
}

input:focus ~ .bar:after {
    width: 100%;
}

.name_input{
    margin-bottom: 10%;
    position: relative;
}

.Contacts{
    width: 95%;
    margin: 0 auto;
}

.Contacts h2{
    color: rgb(255, 255, 255);
}

.Credits div{
    margin: 0;
}

.Credits{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 3% 0;
}

.Credits_CTA{
    width: 223px;
    font-size: 15px;
    margin: 0;
}

#Copyright{
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    color: rgb(134, 134, 134);
}

.Footer{
    background: rgb(2,45,61) no-repeat center fixed;
    padding: 70px 0 20px 0;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.08em;
    color: rgb(134, 134, 134);
}

.Footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.Footer a:hover{
    color: rgb(134, 134, 134);
}

/* @media all and (max-width : 1140px){
    .Header{
        background: url('../img/Top_Background.jpg') no-repeat center top / cover;
        padding-bottom: 80px;
    }
    .container{
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: block;
        width: auto;
        height: auto;
        margin-top: 12px auto 0 auto;
        margin-left: 25px;
        opacity: 1;
     }
     nav{
         margin-top: 25px;
     }
     .menu a{
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    .menu a:hover{
        color: rgb(2,45,61);
    }
    .menu li{
        float: none;
        display: block;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
    }
    .Offer{
        font-weight: 400;
        font-size: 17px;
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0.1em;
        margin-top: 70.5px;
        margin-bottom: 70.5px;
    }
    .Offer span{
        font-weight: 300;
        font-size: 20px;
        display: block;
    }
        
    .CTA{
        border: 1px solid white;
        border-radius: 0px;
        width: 190px;
        padding: 7px 0;
        font-weight: 400;
        font-size: 13px;
        margin: 0  auto;
        transition: all 0.3s ease-in-out;        
    }
    .CTA:hover{
        border-radius: 7px;
        background: rgb(255, 255, 255);
        color: rgb(2,45,61);
        
    }
    .CTA2{
     border: 1px solid rgb(2,45,61);
    }

    .CTA2:hover{
        background: rgb(2,45,61);
        color: rgb(255, 255, 255);
    }
    
    h2{
        font-weight: 400;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.08em;
        color: rgb(2,45,61);
        margin-top: 40px;
    }

    .List{
        flex-direction: column;
        justify-content: space-between;
        margin-top: 55px;
    }
    
    .List_item{
        width: 285px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .Icon{
        width: 45%;
        height: 45%;
    }
    
    .List_title{        
        font-size: 20px;
        margin-top: 30px;
    } 
        
    .List_text{
        font-weight: 300;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.08em;
        margin-top: 20px;
    }

    .Team{
        display: block; 
        width: 75%;
        height: 75%;
        margin: 55px auto 0;
        box-shadow: 0px 0px 60px  rgba(0, 0, 0, 0.2);
    }
    .Team:hover{
        border-radius: 10px;
    }
    
    .About_title{
        font-size: 20px;
        letter-spacing: 0.08em;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .About_text{
        width: 75%;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.08em;
        margin: 0 auto;
        margin-bottom: 57px;
    }
    
    .Footer{
        font-size: 12px;
        padding: 20px 0;
        margin-top: 57px;
    }
    
    .Footer a{
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: all 0.3s ease-in-out;
    }
    .Footer a:hover{
        color: rgb(134, 134, 134);
    }
 } */